<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tom Lake</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>EZg4ksUN3ySnaoBJlrd5s6lglI/uEDC0n8l2H9jGEjsc/8hXkElWkUFdKSl86XFU</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.10">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.52">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.18">
      <emailAddress>tom@elasticbox.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.googlelogin.GoogleUserInfo plugin="google-login@1.3">
      <family__name>Lake</family__name>
      <name>Tom Lake</name>
      <picture>https://lh3.googleusercontent.com/-xnf71-Ej1uU/AAAAAAAAAAI/AAAAAAAAACo/v97DXtooXhQ/photo.jpg</picture>
      <locale>en</locale>
      <email>tom@elasticbox.com</email>
      <given__name>Tom</given__name>
      <id>110720073715250754383</id>
      <verified__email>true</verified__email>
    </org.jenkinsci.plugins.googlelogin.GoogleUserInfo>
  </properties>
</user>